@import "tailwindcss";

@font-face {
  font-family: "allegro";
  src: url("../../public/fonts/Allegro.ttf") format("opentype");
}
@font-face {
  font-family: "armBoloragir";
  src: url("../../public/fonts/ArmBoloragir.ttf") format("opentype");
}
@font-face {
  font-family: "armItalic";
  src: url("../../public/fonts/ArmenianDecorativeU-Italic.ttf")
    format("opentype");
}

@theme {
  --color-white: #fbfbfb;
  --color-silver: #fafafa;
  --color-green: #14e642;
  --color-grey: #a4a4a4;
  --color-red: #d61c38;
  --color-light-blue: #14b7e6;
  --color-blue: #0c5472;
  --color-black: #1a1a1a;

  /* font size */
  --text-text100: clamp(32px, 10vw, 100px);
  --text-text80: clamp(28px, 8vw, 80px);
  --text-text64: clamp(24px, 6vw, 64px);
  --text-text56: clamp(22px, 5.5vw, 56px);
  --text-text50: clamp(20px, 5vw, 50px);
  --text-text48: clamp(20px, 4.8vw, 48px);
  --text-text40: clamp(18px, 4vw, 40px);
  --text-text32: clamp(16px, 3.2vw, 32px);
  --text-text28: clamp(15px, 2.8vw, 28px);
  --text-text24: clamp(14px, 2.4vw, 24px);
  --text-text20: clamp(13px, 2vw, 20px);
  --text-text18: clamp(13px, 1.8vw, 18px);
  --text-text16: clamp(12px, 1.6vw, 16px);
  --text-text15: clamp(12px, 1.5vw, 15px);
  --text-text14: clamp(12px, 1.4vw, 14px);
  --text-text13: clamp(12px, 1.3vw, 13px);

  /* line height */
  --leading-l110: 110%;
  --leading-l120: 120%;
  --leading-l130: 130%;
  --leading-l140: 140%;

  /* font weight */
  --font-weight-bold: 600;
  --font-weight-semiBold: 500;
  --font-weight-regular: 400;
  --font-weight-medium: 300;

  /* font family */
  --font-allegro: "allegro", Arial, sans-serif;
  --font-armBoloragir: "armBoloragir", Arial, sans-serif;
  --font-armItalic: "armItalic", Arial, sans-serif;

  /* screens */
  --breakpoint-xs: 414px;
  --breakpoint-sm: 601px;
  --breakpoint-md: 1025px;
  --breakpoint-xl: 1385px;
  --breakpoint-lg: 1561px;
}
