@import "tailwindcss";

@font-face {
  font-family: "allegro";
  src: url("../../public/fonts/Allegro.ttf") format("opentype");
}
@font-face {
  font-family: "armBoloragir";
  src: url("../../public/fonts/ArmBoloragir.ttf") format("opentype");
}

@theme {
  --color-primary: #1d4ed8;
  --color-secondary: #f59e0b;
  --color-background: #f3f4f6;
  --color-text: #111827;
  --font-allegro: "allegro", Arial, sans-serif;
  --font-armBoloragir: "armBoloragir", Arial, sans-serif;
}
